@model tl2_tp8_2025_ElAguhs.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>Eliminar Producto</h1>
<h3>¿Estás seguro de que deseas eliminar este producto?</h3>
<hr />

<div>
    <h4>Producto</h4>
    <dl class="row">
        <dt class="col-sm-4">ID:</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.IdProducto)</dd>
        
        <dt class="col-sm-4">Descripción:</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Descripcion)</dd>

        <dt class="col-sm-4">Precio:</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Precio)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProducto" /> 
        
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Cancelar y Volver a la Lista</a>
    </form>
</div>